* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #121212;
    color: #f0f0f0;
    line-height: 1.6;
}

header {
    background-color: #333;
    padding: 20px;
    text-align: center;
}

header h1 {
    font-size: 2.5rem;
}

nav ul {
    list-style: none;
    margin-top: 10px;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: #f0f0f0;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #ff4500;
}

section {
    padding: 40px;
    text-align: center;
}

section h2 {
    margin-bottom: 20px;
    font-size: 2rem;
}

section img {
    max-width: 400px;
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin: 20px 0;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s;
}

section img:hover {
    transform: scale(1.05);
}

.habilidades ul {
    list-style: none;
    margin: 20px 0;
}

.habilidades li {
    margin: 5px 0;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 300px;
    margin: 0 auto;
}

form input, form textarea, form button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin: 5px 0;
}

form input, form textarea {
    background-color: #333;
    color: #fff;
}

form button {
    background-color: #ff4500;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

form button:hover {
    background-color: #e03e00;
}

footer {
    background-color: #333;
    padding: 20px;
    text-align: center;
    margin-top: 20px;
}

footer p {
    color: #bbb;
}